@use "../../sass-mq/mq";
@use "../../modules/colors";
@use "../../modules/typography";
@use "sass:color";

.footer {
  --footer-hover-color: #{colors.$brand-1};

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  border-top: 1px solid colors.$black;
  padding-top: 10px;
  margin-bottom: 32px;

  @include mq.mq(tablet) {
    border-top: 2px solid colors.$black;
    margin-bottom: 48px;
  }

  @include mq.mq(wide) {
    padding-top: 1.5%;
    margin-bottom: 2.5%;
  }

  &__top {
    display: inline-flex;
    align-items: flex-end;
    gap: 0.4rem;
    color: colors.$black;
    text-decoration: none;
  }

  &__hand {
    display: block;
    width: 7vw;
    margin-top: -1vw;

    @include mq.mq(desktop) {
      width: 2.5vw;
      margin-top: -0.4vw;
    }

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__label,
  &__copyright {
    font-family: typography.$sans-serif;
    font-size: typography.$font-size-five;
    line-height: 1;
    color: colors.$black;

    @include mq.mq(desktop) {
      font-size: typography.$font-size-two;
    }
  }

  &__top:hover &__label {
    color: var(--footer-hover-color);
    transition: color 0.6s ease;
  }

  &__top:hover &__hand path {
    transform-origin: center center;
    animation: footer-wiggle 1000ms ease-in-out;
  }
}

.footer--theme-nomow {
  --footer-hover-color: #{color.adjust(
      colors.$green,
      $hue: 5deg,
      $saturation: -5%,
      $lightness: -12.5%
    )};
}

.footer--theme-blue {
  --footer-hover-color: #{color.adjust(
      colors.$blue,
      $hue: 5deg,
      $saturation: -5%,
      $lightness: -12.5%
    )};
}

.footer--theme-internet {
  --footer-hover-color: #{color.adjust(
      colors.$brand-1,
      $hue: 5deg,
      $saturation: -5%,
      $lightness: -12.5%
    )};
}

@keyframes footer-wiggle {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
