// Colours
$brand-1: #ff6c6a;
$blue: #00b2ff;
$gold: #eacca0;
$green: #38cf5b;

$white: #ffffff;
$off-white: #fcfcfc;
$light-grey: #eeeeee;
$grey: #bbbbbb;
$mid-grey: #999999;
$dark-grey: #666666;
$black: #333;
