// Colours
$brand-1: #ff6c6a;
$blue: #14b7ff;
$gold: #eacca0;
$green: #38cf5b;
$yellow: #f5be2c;

$white: #ffffff;
$off-white: #fcfcfc;
$white-text: #f6f6f6;
$light-grey: #eeeeee;
$grey: #bbbbbb;
$mid-grey: #999999;
$dark-grey: #666666;
$black: #333;
$dark-black: #111;
