# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom
.env.local

plan.md
HANDOVER.md
*.psd
reference/no-mow
reference/portfolio-webpack
reference/texas
reference/
public/no-mow
public/_next
public/models
public/textures
public/img
