@use "../sass-mq/mq";
@use "../modules/colors";

.logo {
  display: block;
  z-index: 5;
  cursor: pointer;
  margin-top: 10px;

  @include mq.mq(wide) {
    margin-top: 2.5vh;
  }

  svg {
    width: auto;
    height: 5vw;

    @include mq.mq(desktop) {
      width: 79px;
      height: 32px;
    }
  }
}

.logo--article {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
  margin-top: 0;

  @include mq.mq(tablet) {
    left: 20px;
  }

  @include mq.mq(wide) {
    left: 5%;
    top: 2.5vh;
  }
}

.logo__eye-white {
  fill: #fff;
}

.logo__frame {
  fill: colors.$black;
  transition: fill 0.6s ease;
}

.logo__link:hover #frames {
  fill: colors.$brand-1;
}

.logo--home {
  .logo__link:hover #frames {
    fill: colors.$brand-1;
  }
}

.logo--theme-internet {
  .logo__link:hover #frames {
    fill: #803025;
  }
}

// .logo--theme-election {
//   .logo__link:hover #frames {
//     fill: #00b2ff;
//   }
// }
